<%- include("partials/header2"); -%>

<div class="choicearea">
  <a href="/login"
    ><button class="btn btn-outline-dark" name="user">USER</button></a
  >
  <a href="/wlogin"
    ><button class="btn btn-outline-dark" name="worker">WORKER</button></a
  >
</div>

<%-include("partials/footer");-%>
