<%- include("partials/header2"); -%>

<div class="heading protest-revolution-regular">
  <p>WORKCON</p>
  <p>Connecting workers to clients</p>
</div>
<hr />

<div class="about-section kdam-thmor-pro-regular">
  <p>ABOUT US</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ea
    explicabo? Quae, labore eaque inventore et consectetur voluptatem dolorem
    assumenda vitae laudantium voluptas at ipsa cum! Omnis nihil sed iure modi
    incidunt adipisci dolorem qui odit porro molestiae corporis consequuntur
    fugiat quam laborum quae quas fuga ratione dolore repellat, eos tenetur?
    Accusantium molestias, impedit, accusamus id totam et quos, eius quae autem
    voluptatibus sit sed ex libero nemo illum atque pariatur a repellat soluta?
    Hic architecto corporis impedit ullam, reprehenderit excepturi vel
    repudiandae maxime itaque ea nobis nisi ad harum maiores dolore! Earum
    maxime voluptas minus dicta tempore deserunt distinctio.
  </p>
</div>
<hr />

<div class="features-section">
  <p class="kdam-thmor-pro-regular" style="text-decoration: underline">
    Our services
  </p>
  <div class="card border-dark rounded" style="width: 18rem">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card border-dark" style="width: 18rem">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card border-dark" style="width: 18rem">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<hr />
<%- include("partials/footer"); -%>
