<%- include("partials/header2"); -%>

<div class="loginbox">
  <h2>SIGNUP</h2>
  <div class="inputarea">
    <form action="/register" method="post">
      <input
        type="text"
        name="userid"
        placeholder="Enter your username"
        autofocus
      />
      <input
        type="text"
        name="password"
        placeholder="Enter your password"
        autofocus
      />
      <input type="text" name="Name" placeholder="Enter your name" autofocus />
      <input
        type="text"
        name="contact"
        placeholder="Enter your phone number"
        autofocus
        maxlength="10"
      />
      <input
        type="text"
        name="job"
        placeholder="Worker or User"
        value="user"
        readonly
        autofocus
      />

      <button class="btn btn-lg btn-primary btn-block">REGISTER</button>
    </form>
  </div>
  <h3 style="margin-top: 4rem"><%=message%></h3>
  <h4>
    <a href="/login" style="text-decoration: none">Already have an account?</a>
  </h4>
</div>

<%-include("partials/footer"); -%>
